PORT=3000
JWT_SECRET=
DB_TYPE=postgres
# Postgres
PGHOST=localhost
PGPORT=5432
PGDATABASE=oripro
PGUSER=postgres
PGPASSWORD=
PGSSL=
# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=oripro
MYSQL_USER=root
MYSQL_PASSWORD=
