PORT=3000
JWT_SECRET=
DB_TYPE=postgres
# App base URL used for reset links
APP_BASE_URL=http://localhost:3000
# Base URL domain for file uploads (e.g., https://api.example.com)
# If not set, will use request host
BASE_URL_DOMAIN=
# Postgres
PGHOST=
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=
PGSSL=
# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=oripro
MYSQL_USER=root
MYSQL_PASSWORD=
# SMTP for email sending
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD="zgcm ahjv ooqo vpgf"
SMTP_SECURE=false
MAIL_FROM=
METRICS_ENABLED=false
LOKI_ENABLED=false
LOKI_URL=http://localhost:3100
LOKI_TENANT_ID=
LOKI_BASIC_AUTH_USER=
LOKI_BASIC_AUTH_PASSWORD=
LOKI_APP=oripro-backend
